!.keep

/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
tmp
!/log/.keep
!/tmp/.keep
# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
/public/uploads/*

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
/.idea/*
build.bat
assets_clean.sh
assets_compile.sh
unicorn-kill.sh

.env.pg
.env.app